# Coordinator
API_TOKEN=changeme-token
COORDINATOR_REST_PORT=8080
COORDINATOR_UDP_PORT=9000
COORDINATOR_SOAP_PORT=8081

# Coordinator storage
SQLITE_PATH=/data/redsensurb.db

# RMI
RMI_REGISTRY_PORT=1099
REPLICA_A_PORT=1101
REPLICA_B_PORT=1102

# Sensors
SENSOR_RATE_MS=2000
